@media (min-width: 390px) {
  body {
    background-color: #d9c08c;
  }
}
body {
  font-family: "Noto Serif KR", serif;
}


.explantaion_text{
  color: white;
}

.landing-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Serif KR", serif;
}

.maindiv {
  border-top: 12px solid #5b3408;
  border-bottom: 12px solid #795610;
  width: 390px;
  height: 820px;
  background-color: #d9c08c;
  text-align: center;
}

#timer {
  color: #795610;
  margin-top: 25px;
}

h1 {
  font-size: 45px;
  line-height: 30px;
  color: #6a3d09;
  letter-spacing: 1px;
}


.quizbox-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topbox-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.answerbox-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quizbox {
  width: 294px;
  height: 521px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 1rem;
  border: 2px solid #6d4d0b;
  background-color: #fee8ba;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  color: #6a3d09;
  font-size: 12px;
}

#question {
  margin-top: 25px;
}

#questionImg {
  width: 260px;
  height: 350px;
}

.topbox {
  background-color: #fceed2;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  width: 204px;
  height: 47px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 15px;
  color: #5a4c2e;
}

.answerbtn {
  width: 330px;
  height: 48px;
  background-color: #fee8ba;
  border-radius: 1.4rem;
  border: none;
  margin-top: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: start;
}

.answerbox-wrapper button {
  cursor: pointer;
}

.answercontent {
  float: left;
  margin-left: 5px;
  letter-spacing: 20px;
  font-size: 25px;
  font-family: "Noto Serif KR", serif;
  color: #5a4c2e;
  margin-top: 22px;
}

/* 모달창css*/
.modal {
  opacity: 0;

  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;

  max-width: 100%;
  max-height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: opacity 0.5s;
}
.modal.opaque {
  opacity: 1;
  transition: opacity 0.5s;
}
.modal.unstaged {
  top: -100px;
  height: 0;
}

.modal-overlay {
  position: absolute;
  /* display: none; */
  width: 100%;
  height: 100%;
  background-color: RGBA(0, 0, 0, 0.6);
}

/* 모달창 크기 */
#modal-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 362px;
  height: 709px;

  text-align: center;
  background-color: #fde7ba;
  border-radius: 1rem;
}

#OXimage {
  margin-top: 10px;
}

#OXtext {
  color: #6a3d09;
  font-size: 25px;
}

.nextquiz-btn {
  display: block;
  width: 156px;
  height: 37px;
  margin: 0 auto;
  background: #fef5e3;
  border-radius: 20px;
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  color: #6a3d09;
  font-family: "Noto Serif KR", serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  margin-top: 20px;
}

/* 시간초과 모달 */

.modalTime {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modal .Time-modal-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.Time-modal-box {
  position: absolute;
  background-color: #fde7ba;
  width: 360px;
  height: 420px;
  padding: 15px;
  border-radius: 20px;
}

.hidden {
  display: none;
}

.Time-modal-box button {
  display: block;
  width: 208px;
  height: 58px;
  margin: 0 auto;
  background: #fef5e3;
  border-radius: 20px;
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  color: #6a3d09;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  margin-top: 20px;
}

.TimeOver-Img-Wrap {
  width: 100%;
  position: relative;
}
.timeOverText {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 10px;
  left: 93px;
  font-family: "Noto Serif KR", serif;
}

/* 결과 모달 */

.modalResult {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modal .Result-modal-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.Result-modal-box {
  text-align: center;
  position: absolute;
  background-color: #e8dbca;
  width: 335px;
  height: 533px;
  padding: 15px;
  border-radius: 20px;
}

.hiddenResult {
  display: none;
}
.Result-modal-button {
  display: block;
  width: 268px;
  height: 58px;
  margin: 0 auto;
  background: #fef5e3;
  border-radius: 20px;
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  color: #6a3d09;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  margin-top: 20px;
}

.UFC-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.userFlagCnt {
  display: block;
  border-radius: 1rem;
  width: 115px;
  height: 44px;
  background-color: #fff7ec;
  display: flex;
  align-items: center;
  justify-content: start;
}

.univflagcount-img {

  
  width: 100%;
  height: 180px;
 
    display: flex;
    justify-content: center;
    align-items: center;

}
.quizunivimg{
  width: 100px;
  height:178px;
}
.quizunivcnt{
width:157px;
height:105px;
}
#flagment {
  font-size: 30px;
  font-family: "Noto Serif KR", serif;
  color: #6a3d09;
}

#quizAnswer{
  opacity: zero;
  display: none;
}



/* 문제풀러가기 버튼 */
/* 문제풀러가기 버튼 */
a,
a:visited {
    text-decoration: none;
    color: white;
}

a.button {
    font-family: 'Noto Serif KR', serif;
    display: block;
    position: relative;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    font-weight: 900;
    font-size: small;
    text-align: center;
    line-height: 42px;
    /* 글자색 */
    color: #6D4D0B;
    border-radius: 18px;
    transition: all 0.2s;
}

.btnBlueGreen.btnPush {
    /* 그림자 */
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.btnPush:hover {
    margin-top: 15px;
    margin-bottom: 5px;
}

.btnBlueGreen.btnPush:hover {
    /* 그림자 */
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.btnBlueGreen {
    background: #FCEED2;
}

/* 문제풀러가기 버튼 */
/* 문제풀러가기 버튼 */