html,
body {
    background: white
}

@media(min-width:390px){
    body{
        background-color: #D9C08C;
    }
  }

* {
    font-family: 'Noto Serif KR', serif;
}

.outer {
    width: 390px;
    height: 820px;
    background: #D9C08C
}

/* 가운데 정렬 */
.outer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-top: 12px solid #5b3408;
    border-bottom: 12px solid #795610;
}





/* 1위 학교 아이콘 */
.univ1 {
    width: 70px;
    height: 100px;
    margin-bottom: -38px;
    z-index: 1;
    position: relative;
}

/* 2위 학교 아이콘 */
.univ2 {
    width: 70px;
    height: 100px;
    margin-top: -20px;
    margin-bottom: -20px;
    z-index: 1;
    position: relative;
}

/* 3위 학교 아이콘 */
.univ3 {
    width: 70px;
    height: 100px;
    margin-top: 5px;
    margin-bottom: -38px;
    z-index: 1;
    position: relative;
}

/* 랭크 판 */
.rank {
    width: 230px;
    height: 75px;
    z-index: 0;
    position: relative;
}

/* 1~3위 태극기 */
.korea {
    width: 25px;
    height: 25px;
    float: left;
    margin-top: 9px;
    margin-left: 5px;
}





/* 4~5위 태극기 */
.korea_lowrank {
    width: 25px;
    height: 25px;
    margin-top: 4px;
    float: right;
    margin-right: 65px;
}

/* 4~5위 태극기 갯수 */
.lowrank_num {
    float: right;
    margin-top: 6px;
    margin-right: 18px;
    margin-top:-24px;
}

/* 4~5위 학교 */
.lowrank_univ {
    float: left;
    margin-top:5px;
    margin-left: 22px;

}





.box1 {
    width: 200px;
    height: 50px;
    background-color: #634522;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    position: relative;
    z-index: 1;
}

.box2 {
    width: 300px;
    height: 380px;
    background-color: #634522;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    font-size: small;
}

.box3 {
    width: 260px;
    height: 35px;
    background-color: #E2CAAB;
    margin: auto;
    border-radius: 10px;
    font-size: small;
    color:#6A3D09;
    margin-top: 10px;
}

.box4 {
    width: 85px;
    height: 43px;
    background-color: #E2CAAB;
    margin: auto;
    border-radius: 10px;
    font-size: 8.5px;
    color: #6A3D09;
}



/* 우리 학교 순위는? */
/* 우리 학교 순위는? */

.my_school_box {
    width: 300px;
    height: 180px;
    background-color: #E2CAAB;
    margin: auto;
    border-radius: 10px;
    font-size: small;
    color:#6A3D09;
    margin-top: -25px;
    position: relative;
    z-index: 0;
}

.my_school_rank {
    width: 40px;
    height: 40px;
    background-color: #D4B898;
    margin: auto;
    border-radius: 40px;
    font-size: 10px;
    float: right;
    margin-top: 35px;
    margin-right: 70px;
}

.my_school_icon {
    width: 100px;
    height: 140px;
    float: left;
    margin-top: 30px;
    margin-left: 30px;
}

.my_school_num {
    width: 120px;
    height: 70px;
    background-color: #E2CAAB;
    border: 1px solid black;
    float: right;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 30px;
}

.my_school_korea {
    width: 45px;
    height: 45px;
    float: left;
    margin-top: 13px;
    margin-left: 3px;
}











/* 문제풀러가기 버튼 */
/* 문제풀러가기 버튼 */
a,
a:visited {
    text-decoration: none;
    color: white;
}

a.button {
    font-family: 'Noto Serif KR', serif;
    display: block;
    position: relative;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    font-weight: 900;
    font-size: small;
    text-align: center;
    line-height: 42px;
    /* 글자색 */
    color: #6D4D0B;
    border-radius: 18px;
    transition: all 0.2s;
}

.btnBlueGreen.btnPush {
    /* 그림자 */
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.btnPush:hover {
    margin-top: 15px;
    margin-bottom: 5px;
}

.btnBlueGreen.btnPush:hover {
    /* 그림자 */
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.btnBlueGreen {
    background: #FCEED2;
}

/* 문제풀러가기 버튼 */
/* 문제풀러가기 버튼 */