<!DOCTYPE html>

{%load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing</title>
    <!-- <link
      rel="stylesheet"
      type="text/css"
      href="../../../../static/css/landing.css"
    /> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap"
      rel="stylesheet"
    />
  </head>

  <body onload="changeMainImage()">
    <div class="landing-wrapper">
      <div class="maindiv">
        <img id="flowerPeople" src=" " />
        <img id="people" style="margin-top:-250px;"src="https://ifh.cc/g/6CGoW5.png">
        <div id="landing-title">
          <h1>봄에 피는 꽃</h1>
        </div>

        <br>
        <a href="{% url 'showintro' %}" class="button btnPush btnBlueGreen">
          <img src="https://ifh.cc/g/ssBbsc.png" class="korea">
          <h4 class="btnfont">3.1운동 함께 참여하기</h4>
        </a>



        <!-- <button class="w-btn w-btn-indigo" type="button" onclick="location.href='intro/'">
          3.1운동 함께 참여하기
        </button> -->
      </div>
    </div>
    
  </body>
  <script>
    var imgArray = new Array();
    imgArray[0]="https://ifh.cc/g/gxx4WV.png";
    imgArray[1]="https://ifh.cc/g/rKSv5O.png";
    imgArray[2]="https://ifh.cc/g/GKFAZY.png";
    imgArray[3]="https://ifh.cc/g/agkbvB.png";
    imgArray[4]="https://ifh.cc/g/2PhLTB.png";
    imgArray[5]="https://ifh.cc/g/C8Ty4P.png";
    imgArray[6]="https://ifh.cc/g/7z79mz.png";
    imgArray[7]="https://ifh.cc/g/2W6f6o.png";
    imgArray[8]="https://ifh.cc/g/XWXjsb.png";
    imgArray[9]="https://ifh.cc/g/p3v2AX.png";
    imgArray[10]="https://ifh.cc/g/WDfBRa.png";
    imgArray[11]="https://ifh.cc/g/pGZPgJ.png";
    imgArray[12]="https://ifh.cc/g/2rQ1DK.png";
    imgArray[13]="https://ifh.cc/g/wmvr4S.png";
    imgArray[14]="https://ifh.cc/g/OQTj6N.png";
    imgArray[15]="https://ifh.cc/g/56cym7.png";
    imgArray[16]="https://ifh.cc/g/C0QAo7.png";
    imgArray[17]="https://ifh.cc/g/gJfH2X.png";
    imgArray[18]="https://ifh.cc/g/Zp6mwx.png";
    imgArray[19]="https://ifh.cc/g/t072qR.png";
    imgArray[20]="https://ifh.cc/g/shSf6s.png";
    imgArray[21]="https://ifh.cc/g/GyctwW.png";
    imgArray[22]="https://ifh.cc/g/VJcKAX.png";
    imgArray[23]="https://ifh.cc/g/Yo6BO4.png";
    imgArray[24]="https://ifh.cc/g/7gTbQL.png";


    var count = 0;

    function changeMainImage(){
            var objImg = document.getElementById("flowerPeople");
            objImg.src=imgArray[count];
            count++;
            if(count>23){
                count=0;
            }
            setTimeout(changeMainImage,100);
    }
  </script>
</html>
