<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../../../../static/css/landing.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="landing-wrapper">
      <div class="maindiv">
        <img class="flowerPeople" src="flowerPeople.png" />
        <h1>함께,걸음</h1>
        <h1>(가제)</h1>
        <button
          class="w-btn w-btn-indigo"
          type="button"
          onclick="location.href='intro/'"
        >
          3.1운동 함께 참여하기
        </button>
      </div>
    </div>
  </body>
</html>
