<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결과</title>

    <!-- p 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap" rel="stylesheet">
    <!-- p 폰트 -->

    <!-- 130 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
    <!-- 130 폰트 -->

    <!-- css 연결 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/resultStyle2.css' %}">
    <!-- css 연결 -->

</head>

<body>

    <div class="outer">

        <!-- 학교별 순위 알림표, 맨 위 -->
            <br>
            <br>
            <div class="box1">
                <h3 style="color: white;">학교별 순위 알림표</h3>
            </div>
            <br>



        <!-- 1위~5위 -->
            <div class="box2">

                <br>
                {% for univ in unives1 %}
                <div class="box4">
                    <img src="https://ifh.cc/g/SmqXJo.png" class="korea" >
                    <h2>{{univ.univ}}</h2>
                    <h2 style="margin-top:-10px;">{{univ.total_score}}</h2>
                </div>
                {% endfor %}
                {% for univ in unives2 %}
                <div class="box4" style="margin-left:17px; margin-top: -20px;">
                    <img src="https://ifh.cc/g/SmqXJo.png" class="korea">
                    <h2>{{univ.univ}}</h2>
                    <h2 style="margin-top:-10px;">{{univ.total_score}}</h2>
                </div>
                {% endfor %}
                {% for univ in unives3 %}
                <div class="box4" style="margin-right:17px; margin-top: -55px;">
                    <img src="https://ifh.cc/g/SmqXJo.png" class="korea" style="margin-top:8px;">
                    <h2>{{univ.univ}}</h2>
                    <h2 style="margin-top:-10px;">{{univ.total_score}}</h2>
                </div>
                {% endfor %}
                {% for univ in unives2 %}
                    <img class="univ1" src={{univ.img.url}} class="korea" width="55", height="55">
                {% endfor %}
                {% for univ in unives1 %}
                    <img class="univ2" src={{univ.img.url}} class="korea" width="55", height="55">
                {% endfor %}
                {% for univ in unives3 %}
                    <img class="univ3" src={{univ.img.url}} class="korea" width="55", height="55">
                {% endfor %}
                <!-- <img src="{{univ.img.url}}" class="univ1" width="55", height="55">
                <img src="{{univ.img.url}}" class="univ2" width="55", height="55">
                <img src="{{univ.img.url}}" class="univ3" width="55", height="55"> -->
                <img src="https://ifh.cc/g/KzoLW8.png" class="rank">

                {% for univ in unives4 %}
                <div class="box3">
                    <h3 class="lowrank_univ">4위 {{univ.univ}}</h3>
                    <img src="https://ifh.cc/g/SmqXJo.png" class="korea_lowrank" >
                    <h3 class="lowrank_num" style="margin-top: 6px;">{{univ.total_score}}</h3>
                </div>
                {% endfor %}

                {% for univ in unives5 %}
                <div class="box3">
                    <h3 class="lowrank_univ">5위 {{univ.univ}}</h3>
                    <img src="https://ifh.cc/g/SmqXJo.png" class="korea_lowrank" >
                    <h3 class="lowrank_num" style="margin-top: 6px;">{{univ.total_score}}</h3>
                </div>
                {% endfor %}

            </div>


            <br>
            <br>
      

        <!-- 뒤로가기 버튼 -->
        <a href="{% url 'showintro2' %}" title="Button push blue/green" class="button btnPush btnBlueGreen">뒤로 가기</a>


    </div>

</body>

</html>