<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>quizMain</title>
    <!-- <link rel="stylesheet" href="/static/css/prob.css" /> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/prob.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap"
      rel="stylesheet"
    />
    <script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script>
  </head>


  <body>
    <div class="landing-wrapper">
      <div class="maindiv">
        <h2 id="timer">10</h2>
        {%for quiz in venues%}
        <div class="quizbox-wrapper">
          <div class="quizbox">
            <div class="topbox-wrapper">
              <div class="topbox">
                <img src="https://ifh.cc/g/soFXmf.png" class="korea-btn" />
                
                <p id="qcount">독립운동 관련 문제 1번</p>
              </div>
            </div>
            <h2 id="question">
              {{quiz.question}}
            </h2>
            <img id="questionImg" src="{{quiz.q_img.url}}" width="250" height="330"/>
          </div>
        </div>
        <div class="answerbox-wrapper">
         <a id="quizAnswer">{{quiz.ans}}</a>
          <button onclick="clickCount()" class="answerbtn" id="answerbtn1" value="1">
            <img src="https://ifh.cc/g/soFXmf.png" class="korea-btn" />
            <p class="answercontent" id="answer1">{{quiz.option1}}</p>
          </button>
          <button onclick="clickCount()"  class="answerbtn" id="answerbtn2" value="2">
            <img src="https://ifh.cc/g/soFXmf.png" class="korea-btn" />
            <p class="answercontent" id="answer2">{{quiz.option2}}</p>
          </button>
          <button onclick="clickCount()" class="answerbtn" id="answerbtn3" value="3">
            <img src="https://ifh.cc/g/soFXmf.png" class="korea-btn" />
            <p class="answercontent" id="answer3">{{quiz.option3}}</p>
          </button>
          
          <!-- <div id="modal-container" class="modal unstaged">
            <div class="modal-overlay"></div>
            <div class="modal-contents" id="modal-contents">
              <p id="OXtext">정답입니다.</p>
              <img src="https://ifh.cc/g/Fg1FWQ.png" id="OXimage" />
            </div>
          </div> -->

          
           <!--정답/오답 모달창-->
           <div id="modal-container" class="modal unstaged">
            <div class="modal-overlay"></div>
            <div class="modal-contents" id="modal-contents">
              <p id="OXtext">임시</p>
              <img src="https://ifh.cc/g/Fg1FWQ.png" id="OXimage" />


              <div class="quizexplain">

                <br>

                <div style="
                  background-color: #825E30; 
                  width:170px; 
                  height:30px; 
                  border-radius:10px; 
                  margin-left: 40px; 
                  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);">
                  <h3 style="color:white;">해설</h3>
                </div>

                <br>

                <div style="
                border: 1px solid #825E30; 
                width:250px; 
                height:130px; 
                border-radius:10px; 
                margin-top: -40px;">
                  <!-- 문제해설 -->
                  <br>
                  <div>
                    <div class="quizExplainDetail">{{quiz.explanation}}</div>
                  </div>
                  <!-- 문제해설 -->
                </div>


                <br>

       


                <!-- 윤성님 해설 부분입니다!-->
              </div>


              <button class="nextquiz-btn">다음 문제</button>
            </div>
          </div>
          <!-- 시간초과 모달창 -->
          <div class="modalTime hidden">
            <div class="modal-overlay"></div>
            <div class="Time-modal-bg"></div>
            <div class="Time-modal-box">
              <div class="TimeOver-Img-Wrap">
                <div class="timeOverImg">
                  <img src="https://ifh.cc/g/hkOWZo.png" id="OXimage" />
                </div>
                <div class="timeOverText">
                  <p>TIME OVER</p>
                </div>
              </div>
              <button>문제 풀기</button>
            </div>
          </div>
          <!-- 퀴즈 결과 모달창-->
          <div class="modalResult hiddenResult">
            <div class="modal-overlay"></div>
            <div class="Result-modal-bg"></div>
            <div class="Result-modal-box">
              <!-- flagcnt 띄워주기 -->
              <div class="UFC-wrapper">
                <div class="userFlagCnt">
                  <img src="https://ifh.cc/g/soFXmf.png" class="korea-btn" />+7
                </div>
              </div>

              <!-- 학교의 총 깃발개수 + flagcnt한 값 띄워주기 -->
              <p id="flagment">태극기를 획득했습니다!</p>
              <div class="univflagcount-img"></div>
              <button>대학교 별 순위 보러가기</button>
              <button>문제 다시 풀기</button>
            </div>
          </div>

          {%endfor%}
          <!-- 정답 개수 -->
          
        </div>
      </div>
    </div>
    <!-- 페이징처리 시작 -->
    <div id="paging">
      <div class="pagination justify-content-center" style="margin-top: 2rem;">
          <!-- 이전페이지 -->
          {% if venues.has_previous %}
          <div class="page-item">
              <a class="page-link" href="?&page={{ venues.previous_page_number }}"><img src="https://ifh.cc/g/3A8S2K.png"></a>
              <!-- href로 뎁스 설정 -->
          </div>
          {% else %}
          <div class="page-item disabled">
              <a class="page-link" tabindex="-1" aria-disabled="true" href="#"><img src="https://ifh.cc/g/3A8S2K.png"></a>
          </div>
          {% endif %}
          <!-- 페이지리스트 -->
          {% for page_number in venues.paginator.page_range %}
          {% if page_number >= venues.number|add:-5 and page_number <= venues.number|add:5 %}
          {% if page_number == venues.number %}
          <div class="page-item active bg-warning" aria-current="page">
              <a class="page-link" href="?&page={{ page_number }}">{{ page_number }}</a>
          </div>
          {% else %}
          <div class="page-item bg-warning">
              <a class="page-link" href="?&page={{ page_number }}">{{ page_number }}</a>
          </div>
          {% endif %}
          {% endif %}
          {% endfor %}
          <!-- 다음페이지 -->
          {% if venues.has_next %}
          <div class="page-item">
              <a class="page-link" href="?&page={{ venues.next_page_number }}"><img src="https://ifh.cc/g/dQcylq.png"></a>
          </div>
          {% else %}
          <div class="page-item disabled">
              <a class="page-link" tabindex="-1" aria-disabled="true" href="#"><img src="https://ifh.cc/g/dQcylq.png"></a>
          </div>
          {% endif %}
        </div>
  </div>
    <script src="{% static 'js/prob.js' %}" type="text/javascript"></script>

  </body>  
