<div class="qbox">

</div>
<div class="answer">
    
</div>

<!-- <div class="prob1">
    <h2>독립운동가 관련 문제 1번</h2><br>
    <h3>Q. 다음 중 어느 나라에서 대한민국 임시 정부가 설립되었을까?</h3><br>
    <h3>image</h3>
    <button>1. 중국 상하이</button>
    <button>2. 중국 칭따오</button>
    <button>3. 미국 LA</button>
</class>
<div class="prob2">
    <h2>독립운동가 관련 문제 1번</h2><br>
    <h3>Q. 다음 중 어느 나라에서 대한민국 임시 정부가 설립되었을까?</h3><br>
    <h3>image</h3>
    <button>1. 중국 상하이</button>
    <button>2. 중국 칭따오</button>
    <button>3. 미국 LA</button>
</class>
<div class="prob3">
    <h2>독립운동가 관련 문제 1번</h2><br>
    <h3>Q. 다음 중 어느 나라에서 대한민국 임시 정부가 설립되었을까?</h3><br>
    <h3>image</h3>
    <button>1. 중국 상하이</button>
    <button>2. 중국 칭따오</button>
    <button>3. 미국 LA</button>
</class> -->
<script src="/static/js/prob.js" charset="utf-8"></script>
<h3>정담/오답에 대한 모달 제작(마지막 문제는 태극기 휙득 페이지)</h3>