<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&family=Yeseva+One&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="../../../../static/css/univStyle.css">
    <title>Document</title>
</head>
<body>
    <div id="school-select">
        <div class="school-box">
            {%for univ in unives%}
            <div class="school-univ">
                <img class="logo-img" src="{{univ.img.url}}" width="55", height="55">
                <button class="school-univ-name-box">
                    <img class="school-univ-image" src="https://ifh.cc/g/SmqXJo.png"> 
                    <div class="school-univ-name">{{univ.univ}}</div> 
                </button>
            </div>
            {%endfor%}
        </div>
    </div>
</body>
</html>
