<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&family=Yeseva+One&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="../../../../static/css/univStyle.css">
    <title>Document</title>
</head>
<body>
    <div id="school-select">
        <div class="school-box">
            {%for univ in venues%}
            <div class="school-univ">
                <img class="logo-img" src="{{univ.img.url}}" width="55", height="55">
                <button class="school-univ-name-box">
                    <img class="school-univ-image" src="https://ifh.cc/g/SmqXJo.png"> 
                    <div class="school-univ-name">{{univ.univ}}</div> 
                </button>
            </div>
            {%endfor%}
        </div>
        <!-- 페이징처리 시작 -->
    <div id="paging">
        <ul class="pagination justify-content-center" style="margin-top: 2rem;">
            <!-- 이전페이지 -->
            {% if venues.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?&page={{ venues.previous_page_number }}"><img src="https://ifh.cc/g/3A8S2K.png"></a>
                <!-- href로 뎁스 설정 -->
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#"><img src="https://ifh.cc/g/3A8S2K.png"></a>
            </li>
            {% endif %}
            <!-- 페이지리스트 -->
            {% for page_number in venues.paginator.page_range %}
            {% if page_number >= venues.number|add:-5 and page_number <= venues.number|add:5 %}
            {% if page_number == venues.number %}
            <li class="page-item active bg-warning" aria-current="page">
                <a class="page-link" href="?&page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item bg-warning">
                <a class="page-link" href="?&page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if venues.has_next %}
            <li class="page-item">
                <a class="page-link" href="?&page={{ venues.next_page_number }}"><img src="https://ifh.cc/g/dQcylq.png"></a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#"><img src="https://ifh.cc/g/dQcylq.png"></a>
            </li>
            {% endif %}
        </ul>
    </div>
    <!-- 페이징처리 끝 -->
        <!-- <div id="school-page-btn">
            <img src="https://ifh.cc/g/3A8S2K.png">
            <div id="school-page"> 1/3 </div>
            <img src="https://ifh.cc/g/dQcylq.png">
        </div> -->
    </div>


    <!-- modal -->
    <div class="modal hidden">
        <div class="univ-modal-bg"></div>
        <div class="univ-modal-box">
            <img class="modal-quiz-img" src="https://ifh.cc/g/rh5sfT.png">
            <img class="modal-school-img" src="https://ifh.cc/g/h7MlMG.png">
            <button class="startGame" onclick="location.href='/prob/'">문제 풀기</button>
        </div>
    </div>
    <script>
        const open = ()=>{
            document.querySelector(".modal").classList.remove("hidden");
        }
        const close = ()=>{
            document.querySelector(".modal").classList.add("hidden");
        }
        document.querySelector(".school-univ-name-box").addEventListener("click",open);
        document.querySelector(".univ-modal-bg").addEventListener("click",close);
    </script>
</body>
</html>
